@model IEnumerable<WebBanHangOnline.Models.EF.Order>
@using WebBanHangOnline.Common
@{
    ViewBag.Title = "Lịch sử đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@if (Model != null && User.Identity.IsAuthenticated)
    {
        var i = 1;
        <h2 style="font-family:sans-serif;font-weight:bold">Lịch sử đơn hàng</h2>
        <table class="table table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã Đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Tổng tiền</th>
                    <th>Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Code</td>
                        <td>
                            @item.CustomerName
                        </td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@Common.FormatNumber(item.TotalAmount, 0) đ</td>
                        <td>
                            @item.CreatedDate
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }*@

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css" />
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 24px;
        /*border-bottom: 1px solid;*/
        padding: 15px 0px;
        margin-bottom: 25px;
    }

    .sp {
        display: inline-block;
    }
    /*.img-box img {
        max-width: 100%;
        max-height: 100%;
    }

    .row-item-new {
        margin-bottom: 20px;
    }*/
</style>

<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news" style="font-family:sans-serif;font-weight:bold">Lịch sử đơn hàng</h1>
        </div>
    </div>
    @if (Model != null && User.Identity.IsAuthenticated)
    {
        var i = 1;
        @*<h2 style="font-family:sans-serif;font-weight:bold">Lịch sử đơn hàng</h2>*@
        <table class="table table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã Đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Tổng tiền</th>
                    <th>Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Code</td>
                        <td>
                            @item.CustomerName
                        </td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@Common.FormatNumber(item.TotalAmount, 0) đ</td>
                        <td>
                            @item.CreatedDate
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }

</div>

@*@section scripts
        {
        <script>
            $(document).ready(function () {
                $('body').on('click', '.btnDelete', function () {
                    var id = $(this).data("id");
                    var conf = confirm('Bạn chắc chắn xóa sản phẩm này khỏi danh sách yêu thích?');
                    if (conf == true) {
                        $.ajax({
                            url: '/Wishlist/delete',
                            type: 'POST',
                            data: { id: id },
                            success: function (rs) {
                                if (rs.success) {
                                    $('#trow_' + id).remove();
                                }
                            }
                        });
                    }
                });
            });
        </script>
    }*@
