@model IEnumerable<WebBanHangOnline.Models.EF.Order>
@using WebBanHangOnline.Common
@{
    ViewBag.Title = "Lịch sử đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css" />
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0px;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }

    .row-item-new {
        margin-bottom: 20px;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news" style="font-family:sans-serif;font-weight:bold">Lịch sử đơn hàng</h1>
        </div>
    </div>
    @if (Model != null && User.Identity.IsAuthenticated)
    {
        var i = 1;
        <div class="container">
            <table id="example" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        @*<th>Mã Đơn hàng</th>*@
                        <th>Khách hàng</th>
                        @*<th>Số điện thoại</th>*@
                        <th>Địa chỉ</th>
                        <th style="font-family:sans-serif">Tổng tiền</th>
                        <th style="font-family:sans-serif">Ngày tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="load_statisticalTable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            @*<td>@item.Code</td>*@
                            <td>
                                @item.CustomerName
                            </td>
                            @*<td>@item.Phone</td>*@
                            <td>@item.Address @item.District @item.Province @item.Ward</td>
                            <td>@Common.FormatNumber(item.TotalAmount, 0) đ</td>
                            <td>
                                @item.CreatedDate
                            </td>
                            <td><a href="@Url.Action("OrderDetail", "Review",new { orderid = item.Id })">Xem chi tiết</a></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>

        </div>
    }

</div>
